h1,
h2,
h3 {
  font-family: 'Abril Fatface';
  font-weight: bold;
  color: #C14953!important;
}

#first-fold {
  max-height: 200vh;
  display: flex;
  margin-bottom: 40px;
}


#first-fold > .content > h1 {
    font-family: 'Abril Fatface';
    font-weight: bold;
    color: #C14953;
    font-size: 2.5rem;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
}



.covid-collapse-btn {
    color: #C14953 !important;
    border: 0;
     
}
    
.header-img {
    /* padding-top: 70px; */
    /* height: 30px; */
    position: relative;
        
}
    
.landing-img {
    width: 50%;
}

.nav-list {
  grid-gap: 50px;
}

.countryInput {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  color: #b6444d;
  font-size: 16px;
  font-weight: bold;
  border:2px solid #b6444d;
}



#text {
  font-family: 'Abril Fatface';
  font-weight: bold;
  color: #C14953;
  text-align: center;
}

.dropdown-country {
  margin-left: 20px;
}

@media screen and (min-width: 481px) {

.navbar-brand > img {
    height: 40px;
  }


.covid-collapse-btn {
    color: #C14953 !important;
    border: 0;
 }

.collapse {
    font-family: 'Abril Fatface';
    font-size: large;
    font-weight: bold;
 }

#first-fold > .content > h1 {
    font-family: 'Abril Fatface';
    font-weight: bold;
    color: #C14953;
    font-size: 3.5rem;
    line-height: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
  }

.content {
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }


.landing-img {
    width: 90%;
  }


.start {
    background-color:#C14953;
    display: flex;
    font-family: 'Abril Fatface';
    font-weight: bold;
    border-radius: 20px;
    color: white;
    position: relative;
    border: 0;
    padding: 10px;
    width: 200px;
    text-decoration: none;
    justify-content: center;

} 
.start:hover {
    background-color:#b6444d;
    color: white;
}  


}
/* ipad styling: small */ 

@media screen and (min-width: 605px) {
    .content {
      padding: 20px;
    }
 

    .landing-img {
      width: 70%;
  
    }

  }


/* ipad pro styling : large */
@media screen and (min-width: 993px) {
    .content {
      padding: 20px;
    }
  
  
    /* .header-img {
      position: relative;
      top: 15%;
      width: 60%;
    } */

    .landing-img {
      width: 70%;
    }

}

/* desktop styling : large */
@media screen and (min-width: 1100px) {
    .content {
      padding: 20px;
    }
  

    #first-fold > .content > h1 {
        font-family: 'Abril Fatface';
        font-weight: bold;
        color: #C14953;
        font-size: 4.0rem;
        line-height: 70px;
        padding-top: 100px;
        padding-bottom: 20px;
      }
    

    .header-img {
      position: relative;
      /* padding-left: 100px; */
      padding-top: 70px;
    }

    .landing-img {
        width: 70%;
        
    }
  
    .nav-link {
    text-align: center;
  
    }
 
  }
  
  
  /* desktop styling : large */
  @media screen and (min-width: 1400px) {
    .content {
      padding: 20px;
    }
  
  

    .landing-img {
        width: 90%;
    }


    #first-fold {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
    }

    #second-fold {
        max-height: 80vh;
        display: flex;
        justify-content: center;
        position: relative;
    }

    #chart {
      overflow-y: hidden;
  }
  
}

.start {
  background-color:#C14953;
  font-family: 'Abril Fatface';
  font-weight: bold;
  border-radius: 20px;
  color: white;
  position: relative;
  border: 0;
  padding: 10px 87px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
} 
.start:hover {
  background-color:#b6444d;
  color: white;
}  
